.testimonials-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.testimonials-box {
    width: 500px;
    box-shadow: 2px 2px 30px rgb(0, 0, 0, 0.1);
    background-color: #2E4F4F;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}

.box-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}


