@model Cinema.Models.Spettacolo

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Spettacolo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id_spettacolo" />
            <div class="form-group">
                <label asp-for="dataa" class="control-label"></label>
                <input asp-for="dataa" class="form-control" />
                <span asp-validation-for="dataa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_sala" class="control-label"></label>
                <select asp-for="Id_sala" class="form-control" asp-items="ViewBag.Id_sala"></select>
                <span asp-validation-for="Id_sala" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_film" class="control-label"></label>
                <select asp-for="Id_film" class="form-control" asp-items="ViewBag.Id_film"></select>
                <span asp-validation-for="Id_film" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Torna alla lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
